<html>

<head>
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/iziToast.css" rel="stylesheet">
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/help.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Help Page</title>
</head>

<body>
    <div class="help">
        <h1>アプリケーションの使い方</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">通話の仕方</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">1.Loginボタンをクリック</li>
                <li class="list-group-item">2.カメラを起動します
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true" title="メインカメラを起動します"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-camera" aria-hidden="true" title="デスクトップを表示させます。"></span>
                    </button>
                </li>
                <li class="list-group-item">3.接続を行う
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-earphone" aria-hidden="true" title="接続を行います。"></span>
                    </button>
                </li>
                <li class="list-group-item">4.切断
                    <button type="button" class="btn btn-danger" onclick="hangUp();">
                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true" title="通話を終了します。"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">その他の機能</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    ・カメラの一時停止
                    <button type="button" class="btn btn-warning" id="button">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" title="カメラの停止"></span>
                    </button>
                </li>
                <li class="list-group-item">・音声のミュート
                    <button type="button" class="btn btn-warning" id="button5">
                        <span class="glyphicon glyphicon-volume-off" aria-hidden="true" title="ミュートします"></span>
                    </button>
                </li>
                <li class="list-group-item">・チャット画面の表示
                    <button type="button" class="btn btn-primary" id=button2>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true" title="チャット画面の表示"></span>
                    </button>
                </li>
                <li class="list-group-item">・ファイルの共有
                    <span class="glyphicon glyphicon-folder-open btn btn-info" aria-hidden="true" title="フォルタの共有">
                        <input type="file" id="fileInput" name="files" style="display:none" />
                    </span>
                </li>
            </ul>
        </div>
        <input type="button" value="このページを閉じる" onClick="window.close()">
    </div>
</body>

</html>